#infoboxcont{
    padding-left: 8%;
    padding-right: 8%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(2,0,36);
  background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(254,218,169,1) 0%, rgba(255,130,130,1) 100%);
  }

#infoboxh2{
    padding:20px;
    font-size: 72px;
}
  
#infoboxcont h2{
    align:center;
    color:#2B3359;
    padding:10px;
    font-size: 50px;
    
}

.infoboxwrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
  
.infobox{
    height:auto;
    max-width: 23em;
    min-width: 15em;
    background:skyblue;
    margin:10px;
    text-align: center;
    contain:layout;
    overflow:hidden;
    border-radius:10px;
    padding:15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 2em;
    flex-grow: 88%;
}
  
.infobox h2{
    padding:10px
}
  
.infobox img{
    height:30%;
    width:95%; 
}

#infobox1{
    background-image:
     linear-gradient(to bottom,           rgba(245, 246, 252, 0.52),         rgba(117, 19, 93, 0.73)),
     url(../../images/InfoboxBackground/_DSC0051.jpg);
}

#infobox2{
    background-image:
     linear-gradient(to bottom,           rgba(245, 246, 252, 0.52),         rgba(117, 19, 93, 0.73)),
     url(../../images/InfoboxBackground/_DSC0052.jpg);
  }

#infobox3{
    background-image:
    linear-gradient(to bottom,           rgba(245, 246, 252, 0.52),         rgba(117, 19, 93, 0.73)),
    url(../../images/InfoboxBackground/_DSC0060.jpg);
}