
*{
  font-family: "Jost";
}
body{
  border-radius: 0px 0px 10px 10px;
  margin-top:50px;
  display: inline;
  z-index: 1;
  position: relative;

}


p {
  color: #534d41;
  font-size: 15px;
  font-weight: 400; 
  line-height: 1.7; 
  letter-spacing: 0;
}

h1{
  color:white;
}

ul{
  line-height:2em;
  color:white;
  font-size:20px;
}



